body {
    margin: 0;

    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
    text-transform: uppercase;
    color: #000000;

    background-color: #f2f2f2;    
}

a {
    text-decoration: none;
}

.wrapper {
    position: relative;

    width: 1200px;
    margin: 0 auto;

    -webkit-box-shadow: 0 0 20px 0 rgba(155, 154, 154, 0.6);

            box-shadow: 0 0 20px 0 rgba(155, 154, 154, 0.6);
}
/* index*/

.main-header {
    position: relative;
    z-index: 1;
}

.main-navigation {
    margin: 0 auto;

    color:#000000;
    font-size: 14px;
    line-height: 26px;
    font-weight: 700;

    background-color: #ffffff;
}

.site-navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0;
    padding: 0;
    padding-top: 14px;
    padding-bottom: 16px;

    list-style: none;
}

.site-navigation li {
    width: 200px;
}

.site-navigation li:nth-child(2) {
    margin-right: 68px;
}

.site-navigation li:nth-child(3) {
    margin-left: 60px;
    text-align: right;

    letter-spacing: 0.2px;
}

.site-navigation li:last-child {
    text-align: right;
}

.main-logo {
    position: absolute;
    right: 50%;
    left: 50%;

    margin-left: -69px;
}

.main-logo img {
    vertical-align: middle;
}

.container {
    margin: 0 auto;
}

.container-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 auto;

    background-color: #fefefe;
}

.site-navigation a {
    color: #000000;
    font-size: 14px;
    line-height: 26px;
    font-weight: 700;
}

.site-navigation a:hover,
.site-navigation a:focus {
    color: #81b3d2;
}

.site-navigation a:active {
    color: #cacaca;
}

.welcome {
    position: relative;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 auto;
    padding-top: 76px;
    padding-bottom: 80px;

    background-color: #81b4d3;
    background-image: url(../img/background-photo.jpg);
    background-repeat: no-repeat;

}

.welcome::before {
    content: "";

    position: absolute;
    bottom: -1px;
    left: 0;

    display: block;
    width: 1200px;
    height: 59px;

    background-image: url(../img/polygon.png);
    background-repeat: no-repeat;
}

.site-logo img {
    vertical-align: middle;
}

.reasons {
    margin: 0;
    padding: 0;
    padding-top: 59px;
    padding-bottom: 51px;
    
    text-align: center;

    background-color:#ffffff;
}

.reasons h1 {
    width: 450px;
    margin: 0 auto;
    margin-bottom: 27px;

    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    color: #000000;
}

.reasons p {
    width: 493px;
    margin: 0 auto;
    white-space: pre;

    font-size: 14px;
    line-height: 26px;
    font-weight: 400;
    color: #333333;
    letter-spacing: 0.1px;
}

.features {
    background-color: #ffffff;
}

.features-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

.features-list,
.features-list .services,
.features-item ul {
    list-style: none;
}

.features-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    text-align: center;
}

.features-item:nth-child(1),
.features-item:nth-child(2) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.features-item h3 {
    margin: 0;
    padding: 0;

    font-size: 21px;
    line-height: 21px;
    font-weight: 700;
}

.features-item p {
    margin: 0;
    padding: 0;

    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
}

.services {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 0;

    background-color: #ffffff
}

.services li,
.features-continued li {
    width: 400px;
}

.services {
    position: relative;

    padding-top: 161px;
    padding-bottom: 82px;
}

.services h3 {
    padding-bottom: 24px;
}


.services p {
    margin: 0 auto;
    width: 288px;
}

.services-list:first-of-type h3::before {
    content: "";
    position: absolute;
    top: 60px;
    left: 162px;

    height: 72px;
    width: 75px;
    display: block;

    background-image: url(../img/ico-house.svg);
    background-repeat: no-repeat;
}

.services-list:nth-of-type(2) h3::before {
    content: "";

    position: absolute;
    top: 61px;
    left: 563px;

    height: 70px;
    width: 74px;
    display: block;

    background-image: url(../img/eat.svg);
    background-repeat: no-repeat;
}

.services-list:last-of-type h3::before {
    content: "";

    position: absolute;
    top: 56px;
    right: 168px;

    height: 76px;
    width: 64px;
    display: block;

    background-image: url(../img/souvenirs.svg);
    background-repeat: no-repeat;
}

.features-item .features-continued  {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0;
    padding-top: 46px;
    padding-bottom: 38px;
    background-color: #eeeeee;
}

.features-continued h3 {
    width: 134px;
    margin: 0 auto;
    margin-bottom: 25px;
}

.features-continued p {
    width: 264px;
    margin: 0 auto;
    margin-bottom: 21px;
}

.features-list .features-number {
    padding-top: 47px;
    width: 400px;

    background-color: #81b3d2;
}

.features-number h3 {
    width: 160px;
    margin: 0 auto;
    margin-bottom: 24px;

    text-align: center;
    color: #ffffff;
}

.features-number p {
    width: 307px;
    margin: 0 auto;
    margin-bottom: 21px; 

    color: #ffffff;
}

.features-list .features-img {
    background: #3b241e;
}

.features-img img {
    vertical-align: middle;
}

.interesed-offer {
    margin: 0 auto;
    padding-top: 49px;
    padding-bottom: 47px;
    
    text-align: center;

    background-color:#ffffff;
}

.interesed-offer b {
    display: block;
    margin-bottom: 25px;

    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    color: #000000;
}

.interesed-offer p {
    margin: 0;

    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: #333333;
}

.find-hotels {
    position: relative;
}

.find-hotels h2 {
    margin: 0;

    background-color: #ffffff;
}

.button-find {
    display: block;
    margin: 0 auto;
    padding: 30px 139px;
    width: 569px;
        -webkit-box-sizing: border-box;
            box-sizing: border-box;

    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    color: #ffffff;

    background-color: #766357;
}

.button-find:hover,
.button-find:focus {
    background-color: #604e43;
}

.button-find:active {
    color: #928a85;

    background-color: #503e33;
}

.estimated-dates {
    position: absolute;
    left: 316px;

    display: none;
    padding-top: 55px;
    padding-bottom: 55px;
    width: 568px;

    background-color: #ffffff;

    -webkit-box-shadow: 0px 4px 10px 3px rgba(0, 0, 0, 0.140);

            box-shadow: 0px 4px 10px 3px rgba(0, 0, 0, 0.140);

    animation: modal-close 0.5s;
}

.form-show {
    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;

    animation: modal 0.5s;
}

@keyframes modal {
    0% {
        transform: translateY(60px);
    }
}

.form-error {
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.estimated-dates .find-item {
    position: relative;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 auto;
    margin-bottom: 29px;
    width: 458px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;

    font-size: 14px;
    line-height: 26px;
    font-weight: 700;
}

.find-item:nth-child(2) {
    margin-bottom: 30px;
} 

.humans {
    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0 auto;
    margin-bottom: 54px;
    width: 458px;
    box-sizing: border-box;
}

.humans .find-item {
    margin: 0;
    width: auto;
}

.find-item button {
    position: absolute;
    top: 7px;
    right: 3px;

    background-color: transparent;

    border: none;
}

.find-item  .input-text {
    -webkit-box-sizing: border-box;
        box-sizing: border-box;
    padding: 9px 0;
    margin-left: auto;
    max-height: 38px;
    width: 346px;

    text-transform: uppercase;
    font-size: 14px;
    color: #000000;
    font-weight: 700;

    background-color: #f2f2f2;

    border: 2px solid #f2f2f2;
}

.find-item .input-arrival {
    padding-left: 11px;
    padding-right: 28px;
    width: 346px;
}

.find-item .input-departure {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 11px;
    padding-right: 28px;
    width: 346px;
}

.find-item .input-adults {
    margin-left: 41px;
    padding-left: 23px;
    padding-right: 23px;
    width: 114px;

    text-align: center;
}

.find-item .input-children {
    margin-left: 26px;
    padding-left: 23px;
    padding-right: 23px;
    width: 114px;

    text-align: center;
}

.find-item input:hover {
    background-color: #ebebeb;

    border: 2px solid #ebebeb;
}

.find-item input:focus { 
    background-color: #ffffff;

    border: 2px solid #e5e5e5;
}

.find-item svg:hover,
.find-item svg:focus {
    fill: #000000;
}

.find-item svg:active {
    fill: #81b3d2;
}

.find-item label[for*="date"] {
    letter-spacing: 0.3px;
}

.find-item:first-child .minus{
    position: absolute;
    top: 13px;
    left: 125px;

    display: block;
    width: 13px;
    height: 13px;

    background-color: transparent;
}

.find-item:first-child .minus::before {
    content: "";

    position: absolute;
    top: 5px;
    left: 1px;

    display: block;
    width: 11px;
    height: 3px;

    background-color: #a9a9a9;
}

.find-item:first-child .plus{
    position: absolute;
    top: 12px;
    right: 13px;

    display: block;
    width: 13px;
    height: 13px;

    background-color: transparent;
}

.find-item:first-child .plus::before,
.find-item:first-child .plus::after {
    content: "";

    position: absolute;
    top: 6px;
    left: 1px;

    display: block;
    width: 11px;
    height: 3px;

    background-color: #a9a9a9;
}

.find-item:first-child .plus::before {
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg);
}

.find-item:last-child .minus{
    position: absolute;
    top: 13px;
    left: 74px;

    display: block;
    width: 13px;
    height: 13px;

    background-color: transparent;
}

.find-item:last-child .minus::before {
    content: "";

    position: absolute;
    top: 5px;
    left: 4px;

    display: block;
    width: 11px;
    height: 3px;

    background-color: #a9a9a9;
}

.find-item:last-child .plus{
    position: absolute;
    top: 12px;
    right: 12px;

    display: block;
    width: 13px;
    height: 13px;

    background-color: transparent;
}

.find-item:last-child .plus::before,
.find-item:last-child .plus::after {
    content: "";

    position: absolute;
    top: 6px;
    left: 1px;

    display: block;
    width: 11px;
    height: 3px;

    background-color: #a9a9a9;
}

.find-item .plus:hover::before,
.find-item .plus:hover::after {
    background-color: #000000;
}

.find-item .minus:hover::before {
    background-color: #000000;
}

.find-item .plus:focus::before,
.find-item .plus:focus::after {
    background-color: #000000;
}

.find-item .minus:focus::before {
    background-color: #000000;
}

.find-item .plus:active::before,
.find-item .plus:active::after {
    background-color: #81b3d2;
}

.find-item .minus:active::before {
    background-color: #81b3d2;
}

.find-item:last-child .plus::before {
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg);
}

.find-item input::-webkit-input-placeholder {
    font-size: 14px;
    text-transform: uppercase;
    color: #000000;
    font-weight: 700;
}

.find-item input:-ms-input-placeholder {
    font-size: 14px;
    text-transform: uppercase;
    color: #000000;
    font-weight: 700;
}

.find-item input::-ms-input-placeholder {
    font-size: 14px;
    text-transform: uppercase;
    color: #000000;
    font-weight: 700;
}

.find-item input::placeholder {
    font-size: 14px;
    text-transform: uppercase;
    color: #000000;
    font-weight: 700;

    opacity: 1;
}

.button-search {
    padding: 16px 0;
    margin: 0 auto;
    width: 458px;

    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;

    background-color: #81b3d2;

    border: none;
}

.button-search:hover,
.button-search:focus {
    background-color: #669ec0;
}

.button-search:active {
    color: #94b9d2;

    background-color: #5496bd;
}

.map p {
    margin: 0;
}

.map img {
    vertical-align: middle;
}

/*index*/


/*catalog*/

.site-navigation a:not([href]) {
    color: #766357;
}

.second-container {
    padding-left: 71.5px;
    padding-right: 71.5px;
}

.filters {
    background-image: url(../img/filter-background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: #786966;
}

.hotel-filter {
    position: relative;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    width: 1057px;
    margin: 0 auto;
    padding-top: 27px;
} 

.hotel-filter .options {
    margin: 0;
    margin-right: 119px;
    padding: 0;
    padding-top: 25px;
    padding-bottom: 6px;

    border: none;
}

.filters legend {
    color:#ffffff;
    font-size: 16px;
    line-height: 21px;
    font-weight: 700;
}

.filters .required-options {
    margin: 0;
    padding: 0;

    color: #ffffff;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    list-style: none;
}

.required-options .required-item {
    padding-left: 40px;
    margin-bottom: 25px;
}

.options:nth-child(2) > .required-options {
    margin-left: 2px;
}

.input-checkbox + label {
    position: relative;

    display: block;

    cursor: pointer;
}

.input-checkbox:focus + label {
    color: #000000;
}

.input-checkbox + label::before {
    content: "";

    position: absolute;
    left: -39px;
    bottom: -1px;

    display: block;
    height: 23px;
    width: 27px;

    background-image: url(../img/checkbox-off.svg);
    background-repeat: no-repeat;
}

.input-checkbox:checked + label::before {
    content: "";

    position: absolute;
    left: -39px;
    bottom: -1px;

    display: block;
    height: 23px;
    width: 27px;

    background-image: url(../img/checkbox-on.svg);
    background-repeat: no-repeat;
}

.input-checkbox + label:hover::before {
    content: "";

    position: absolute;
    left: -39px;
    bottom: -1px;

    display: block;
    height: 23px;
    width: 27px;

    background-image: url(../img/checkbox-on.svg);
    background-repeat: no-repeat;
}

.input-type + label::before {
    position: absolute;
    left: -41px;
}

.input-type:checked + label::before {
    position: absolute;
    left: -41px;
}

.input-type:hover + label::before,
.input-type:focus + label::before {
    position: absolute;
    left: -41px;
}

.filters .output-area {
    position: relative;

    margin: 0;
    margin-bottom: 20px;
    padding: 0;

    color: #ffffff;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    list-style: none;

    border: 2px solid #ffffff;
    border-radius: 3px;
}

.hotels-price {
    margin: 0;
    padding: 0;
    margin-left: auto;
    padding-top: 10px;

    border: none;
}

.output-area::after {
    content: "";

    position: absolute;
    top: 5px;
    left: 157px;

    height:22px;
    width: 2px;

    background-color: #ffffff;
}

.output-area .output {
    display: inline-block;
    vertical-align: top;
}

.output-area input {
    padding-top: 6px;
    padding-bottom: 5px;
    width: 155px;

    font: inherit;
    text-align: center;
    font-weight: 400;
    text-transform: uppercase;
    color: #ffffff;
    
    background-color: transparent;

    border: none;
}

.output-area input::-webkit-input-placeholder {
    text-align: center;
    font-weight: 400;
    text-transform: uppercase;
    color: #ffffff;
}

.output-area input:-ms-input-placeholder {
    text-align: center;
    font-weight: 400;
    text-transform: uppercase;
    color: #ffffff;
}

.output-area input::-ms-input-placeholder {
    text-align: center;
    font-weight: 400;
    text-transform: uppercase;
    color: #ffffff;
}

.output-area input::placeholder {
    text-align: center;
    font-weight: 400;
    text-transform: uppercase;
    color: #ffffff;

    opacity: 1;
}

.range {
    position: relative;
}

.range .scale {
    height: 2px;
    width: 100%;

    background: rgba(255, 255, 255, 0.3);
}

.range .bar {
    height: 2px;
    width: 83%;

    background-color: #ffffff;
}

.range-toggle {
    position: absolute;
    top: -9px;
  
    width: 4px;
    height: 4px;
  
    background: #ababab;
    border: 8px solid #ffffff;
    border-radius: 50%;
    -webkit-box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
            box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
    cursor: pointer;
  }
  
  .range-toggle-min {
    left: 0;
  }
  
  .range-toggle-max {
    left: 80%;
  }

.range-toggle:hover {
    background: #1c4f80;
  }

.btn-view {
    position: absolute;
    bottom: 33px;
    right: 96px;

    padding-top: 6px;
    padding-bottom: 5px;;
    padding-left: 33px;
    padding-right: 33px;
    width: 137px;
    box-sizing: border-box;

    color: #ffffff;
    font-size: 14px;
    line-height: 21px;
    text-transform: uppercase;
    text-align: center;

    background-color: transparent;

    border: 2px solid #ffffff;
    border-radius: 3px;
}

.btn-view:hover {
    color: #000000;

    background-color: #ffffff;
}

.sorting {
    position: relative;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    padding-top: 30px;
    padding-bottom: 26px;
    padding-left: 71.5px;
    padding-right: 71.5px;

    background-color: #fefefe;

    border-bottom: 1px solid #e5e5e5;
}

.sorting-parametres {
    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    margin: 0;
    padding-top: 6px;
}

.sorting b {
    display: block;
    margin-right: 48px;

    color: #000000;
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
}

.sorting-parametres  span {
    display: block;
    margin-right: 40px;

    color: #000000;
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
}

.sorting-options {
    padding: 0;
    margin: 0;

    font-size: 12px;
    line-height: 18px;
    font-weight: 700;
    list-style: none;
}

.sorting-item {
    display: inline-block;
    vertical-align: top;
    margin-right: 30px;

    color: #cacaca;
}

.sorting-item:last-child {
    margin: 0;
}

.sorting-item > .current {
    color: #81b3d2;

    border: none;
}

.sorting-item > .current:active {
    color: #000000;

    border: none;
} 

.sorting-item a{
    font-weight: 400;
    color: inherit;

    border-bottom: 1px dotted #81b3d2;
}

.sorting-item a:hover,
.sorting-item a:focus {
    color: #81b3d2;

    border-bottom:1px dotted #81b3d2;
}

.sorting-item a:active {
    color: #000000;

    border: none;
} 

.trinagle {
    margin-left: auto;
}

.trinagle p {
    display: inline-block;
    vertical-align: top;
    height: 30px;
    width: 15px;
    margin: 0;
}

.trinagle .trinagle-up {
    position: relative;

    display: inline-block;
    vertical-align: top;
    margin-left: 15px;

    color: #fff;

    background: transparent;

    border-radius: 10px;
}

.trinagle .trinagle-up::before {
    content:"";

    position: absolute;
    top: 5px;
    left: -16px;

    border: 6px solid transparent; 
    border-bottom: 10px solid #cacaca;
}

.trinagle .trinagle-up:hover::before,
.trinagle .trinagle-up:focus::before {
    border-bottom: 10px solid #000000;
}

.trinagle .trinagle-up:active::before {
    border-bottom: 10px solid #81b3d2;
}

.trinagle .trinagle-down {
    position: relative;

    display: inline-block;
    vertical-align: top;
    margin-left: 15px;

    color: #fff;

    background: transparent;

    border-radius: 10px;
}

.trinagle .trinagle-down::before {
    content:"";

    position: absolute;
    top: 10px;
    left: -12px;

    border: 6px solid transparent; 
    border-top: 10px solid #81b3d2;
}

.trinagle .trinagle-down:hover::before,
.trinagle .trinagle-down:focus::before {
    border-top: 10px solid #000000;
}

.trinagle .trinagle-down:target::before {
    outline: 1px solid #000000;
}

.trinagle .trinagle-down:active::before {
    border-top: 10px solid #81b3d2;
}

.catalog-list {
    margin: 0;
    padding: 0;

    list-style: none;
}

.catalog-list .catalog-item {
    position: relative;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    padding: 30px 72px;

    background-color: #fefefe;

    border-bottom: 1px solid #e5e5e5;
}

.catalog-list .catalog-item:first-child::after {
    content:"";

    position: absolute;
    top: 29px;
    right: 72px;

    height: 19px;
    width: 90px;

    background-image: url(../img/star.svg);
    background-repeat: repeat-x;
}

.catalog-list .catalog-item:nth-child(2)::after {
    content:"";

    position: absolute;
    top: 29px;
    right: 72px;

    height: 19px;
    width: 65px;

    background-image: url(../img/star.svg);
    background-repeat: repeat-x;
}

.catalog-list .catalog-item:last-child::after {
    content:"";

    position: absolute;
    top: 29px;
    right: 72px;

    height: 19px;
    width: 43px;

    background-image: url(../img/star.svg);
    background-repeat: repeat-x;
}

.catalog-item p {
    margin: 0;
}

.catalog-item .hotel-image {
    margin-right: 30px;
}

.catalog-item img {
    vertical-align: middle;
}

.overview > a {
    color: #000000;
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
}

.overview > a:hover,
.overview > a:focus {
    color: #81b3d2;
}

.overview a:active {
    color: #cacaca;
}

.overview h3 {
    margin: 0;
    margin-bottom: 2px;

    font-size: 21px;
}

.overview .type-house {
    margin-bottom: 14px;
}

.type-house span {
    display: inline-block;
    vertical-align: top;
    width: 77.3px;
    margin-right: 35px;

    color: #333333;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
}

.type-house span:last-child {
    margin: 0;
}

.btn {
    display: inline-block;
    vertical-align: top;
    padding: 3px 17px;

    color: #ffffff;
    font-size: 14px;
    line-height: 21px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}

.blue {
    margin-right: 3px;
    width: 76px;

    background-color: #81b3d2;
}

.blue:hover,
.blue:focus {
    background-color: #669ec0;
}

.blue:active {
    color: #94b9d2;

    background-color: #5496bd;
}

.gray {
    width: 108px;

    background-color: #766357;
}

.gray:hover,
.gray:focus {
    background-color: #604e43;
}

.gray:active {
    color: #928a85;

    background-color: #503e33;
}

.catalog-item .rating {
    -ms-flex-item-align: end;
        align-self: flex-end;
    margin-left: auto;
    padding: 3px 0;
    padding-left: 15px;
    width: 95px;

    color: #666666;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;

    background-color: #f2f2f2;
}


/* footer */

.main-footer {
    position: absolute;
    bottom: 0;
    left:0;

    margin: 0 auto;
    width: 1200px;

    color: #000000;

    background-color: rgba(255, 255, 255, 0.9);
}

.main-footer .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 32px;
    padding-bottom: 40px;
    padding-left: 132px;
    padding-right: 100px;
}

.inner-footer .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 32px;
    padding-bottom: 35px;
    padding-left: 132px;
    padding-right: 100px;
}

.inner-footer {
    margin: 0 auto;

    color: #000000;

    background-color: #fefefe;
}

.hashtag {
    width: 136px;
    margin: 0;

    color:#000000;
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    text-align: center;
}

.footer-social {
    margin: 0;
    margin-left: 27px;
    margin-top: 2px;

    text-align: center;
}

.footer-social ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0;
    padding: 0;
    width: 150px;

    list-style: none;
}

.social-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 48px;
    width: 46px;

    background-color: #81b3d2;
}

.social-button:hover,
.social-button:focus {
    background-color: #669ec0;
}

.social-button:active {
    background-color: #5496bd;
}

.social-button:active path {
    fill: #88b6d1;
}

.created {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0;

    color: #000000;
    text-align: center;
}

.created b{
    margin-right: 8px;

    color: #000000;
    font-size: 14px;
    line-height: 26px;
    font-weight: 400;
}

.created .copyright {
    color: #000000;
}

.created svg {
    padding-top: 6px;
    height: 42px;
    width: 115px;
}

.created path:hover {
    fill: #81b3d2
}

.created path:active {
    fill: #bdbbbc;
}

.visually-hidden {
    position: absolute;

    font-size: 1px;
    clip: rect(0 0 0 0);

    width: 1px;
    height: 1px;
    margin: -1px;
  }