body {
    margin: 0;

    font-family: "PT Sans", Arial, sans-serif;
    font-size:14px;
    font-weight:700;
    line-height: 21px;
    text-transform: uppercase;
    color: #000000;

    background-color: #f2f2f2;    
}

a {
    text-decoration: none;
}
 * {
    outline: px solid #000000;
} 

/* index*/
.main-navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 1200px;
    margin: 0 auto;

    color:#000000;
    font-size: 14px;
    line-height: 26px;
    font-weight: 700;

    background-color: #ffffff;
}

.main-logo {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
}

.main-logo img {
    vertical-align: middle;
}

.container {
    width: 1200px;
    margin: 0 auto;
}
.container-inner {
    display: flex;
    flex-direction: column;
    width: 1200px;
    margin: 0 auto;

    background-color: #fefefe !important;
}
.site-navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0;
    padding: 0;
    width: 1200px;

    list-style: none;
}

.site-navigation a {
    color:#000000;
    font-size: 14px;
    line-height: 26px;
    font-weight: 700;
}

.site-navigation a:hover,
.site-navigation a:focus {
    color: #81b3d2;
}

.site-navigation a:active {
    color: #cacaca;
}

.site-logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 75px;
    padding-bottom: 80px;

    background-color: #81b4d3;
    background-image: url(../img/background-photo.jpg);
    background-repeat: no-repeat;
    background-position: center;
}

.reasons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0;
    padding: 0;
    padding-top: 46px;
    
    text-align: center;

    background-color:#ffffff;
}

.reasons h1 {
    width: 450px;
    margin-bottom: 27px;

    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    color: #000000;
}

.reasons p {
    width: 493px;
    margin: 0;
    padding-bottom: 51px;

    font-size: 14px;
    line-height: 26px;
    font-weight: 400;
    color: #333333;
    letter-spacing: 0.1px;
}

.features {
    background-color: #ffffff;
}

.features-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0;
    padding: 0;
}

.features-list,
.features-list .services,
.features-item ul {
    list-style: none;
}

.features-item {
    text-align: center;
}

.features-item:nth-child(1),
.features-item:nth-child(2) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.features-item h3 {
    margin: 0;
    padding: 0;
    font-size: 21px;
    line-height: 21px;
    font-weight: 700;
}

.features-item p {
    margin: 0;
    padding: 0;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
}

.services {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-item-align: center;
        align-self: center;
    padding: 0;

    background-color: #ffffff
}

.services li,
.features-continued li {
    width: 400px;
}

.features-item .features-continued  {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0;

    background-color: #eeeeee;
}

.features-list .features-number {
    width: 400px;

    background-color: #81b3d2;
}

.features-list .features-img {
    background: #3b241e;
}

.features-img img {
    vertical-align: middle;
}

.features-number h3 {
    color: #ffffff;
}
.features-number p {
    color: #ffffff;
}

.interesed-offer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 135px;

    background-color:#ffffff;
}

.interesed-offer b {
    margin-bottom: 25px;

    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    color: #000000;
}

.interesed-offer p {
    margin: 0;

    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: #333333;
}

.find-hotels {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.find-hotels h2 {
    margin: 0;
}

.button-find{
    padding:0 139px;

    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    color: #ffffff;
    text-align: center;

    background-color: #766357;
}

.button-find:hover,
.button-find:focus {
    background-color: #604e43;
}

.button-find:active {
    color: #928a85;

    background-color: #503e33;
}

.button-search {
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    color: #ffffff;
    text-align: center;

    background-color: #81b3d2;
}

.button-search:hover,
.button-search:focus {
    background-color: #669ec0;
}

.button-search:active {
    color: #94b9d2;

    background-color: #5496bd;
}

.estimated-dates {
    width: 568px;

    background-color: #ffffff;
}

.find-item {
    font-size: 14px;
    line-height: 26px;
    font-weight: 700;
}

.find-item input {
    text-align: center;

    background-color: #f2f2f2;

    border: 2px solid #f2f2f2;
}

.find-item input:hover {
    background-color: #ebebeb;

    border: 2px solid #ebebeb;
}

.find-item input:focus { 
    background-color: #ffffff;

    border: 2px solid #e5e5e5;
}

.map p {
    margin: 0;
}

.map img {
    vertical-align: middle;
}
/*index*/

/*catalog*/
.active-link a {
    color: #766357;
}

.container-catalog {
    width: 1057px;
    margin: 0 auto;
}

.filters {
    background-image: url(../img/filter-background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: #786966;
}

.hotel-filter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 1057px;
    margin: 0 auto;
} 

.filters fieldset {
    padding: 0;

    border: none;
}

fieldset:nth-child(3) {
    margin-left: auto;
}


.filters legend {
    color:#ffffff;
    font-size: 16px;
    line-height: 21px;
    font-weight: 700;
}

.filters ul {
    padding: 0;

    color: #ffffff;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    list-style: none;
}

.input-type:disabled + label {
    color: #6a6a6a;
}

.output-area {
    padding: 0;

    border: 2px solid #ffffff;
}

.output-area input {
    font: inherit;
    color: #ffffff;

    background-color: transparent;

    border: none;
}

.sorting {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #fefefe;
}

.sorting-options {
    padding: 0;
    margin: 0;
}

.sorting b {
    color: #000000;
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
}

.sorting span {
    color: #000000;
    font-size: 12px;
    line-height: 18px;
    font-weight: 700;
}

.sorting-options {
    font-size: 12px;
    line-height: 18px;
    font-weight: 700;
    list-style: none;
}

.sorting-item {
    color: #cacaca;
}

.sorting-item > .current {
    color: #81b3d2;

    border: none;
}

.sorting-item > .current:active {
    color: #000000;

    border: none;
} 

.sorting-item a{
    color: inherit;

    border-bottom: 1px dashed #81b3d2;
}

.sorting-item a:hover,
.sorting-item a:focus {
    color: #81b3d2;

    border-bottom:1px dashed #81b3d2;
}

.sorting-item a:active {
    color: #000000;

    border: none;
} 

.catalog-list {
    margin: 0;
    padding: 0;

    list-style: none;
}

.catalog-item h3,
.catalog-item p {
    margin: 0;
}

.catalog-item {
    background-color: #fefefe;
}

.catalog-item > a {
    color: #000000;
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
}

.catalog-item img {
    vertical-align: middle;
}

.catalog-item > a:hover,
.catalog-item > a:focus {
    color: #81b3d2;
}

.catalog-item a:active {
    color: #cacaca;
}

.type-house span {
    color: #333333;
    font-size: 14px;
    line-height: 21px;
    font-weight: 700;
}

.catalog-item .rating {
    color: #666666;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;

    background-color: #f2f2f2;
}

.btn-view {
    margin: auto 0;

    color: #ffffff;
    font-size: 14px;
    line-height: 21px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;

    background-color: transparent;

    border: 2px solid #ffffff;
}

.btn-view:hover {
    color: #000000;

    background-color: #ffffff;
}

.btn-blue {
    color: #ffffff;
    font-size: 14px;
    line-height: 21px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;

    background-color: #81b3d2;
}

.btn-blue:hover,
.btn-blue:focus {
    background-color: #669ec0;
}

.btn-blue:active {
    color: #94b9d2;

    background-color: #5496bd;
}

.btn-gray {
    color: #ffffff;
    font-size: 14px;
    line-height: 21px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;

    background-color: #766357;
}

.btn-gray:hover,
.btn-gray:focus {
    background-color: #604e43;
}

.btn-gray:active {
    color: #928a85;

    background-color: #503e33;
}

/* footer */
.main-footer {
    width: 1200px;
    margin: 0 auto;

    color: #000000;

    background-color: rgba(249, 251, 246, 0.9);
}

.main-footer p {
    margin-top: 0;
}

.main-footer .container,
.inner-footer .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.inner-footer {
    width: 1200px;
    margin: 0 auto;

    color: #000000;

    background-color: #fefefe;
}

.hashtag {
    margin-left: 133px;

    color:#000000;
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    text-align: center;
}

.footer-social {
    margin-left: 257px;
    margin-right: 229px;
    margin-top: 0;

    text-align: center;
}

.footer-social ul {
    padding: 0;

    list-style: none;
}

.social-button {
    color: #000000;
}

.created {
    color: #000000;
    text-align: center;
}

.created b{
    color: #000000;
    font-size: 14px;
    line-height: 26px;
    font-weight: 400;
}

.created .copyright {
    color: #000000;
}

.vissualy-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
  }